# Chances of Getting Admisson in a University

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("D:\\Data science\\DATA SETS\\Datasets by srk sir\\admission_predict.csv")
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
495,496,332,108,5,4.5,4.0,9.02,1,0.87
496,497,337,117,5,5.0,5.0,9.87,1,0.96
497,498,330,120,5,4.5,5.0,9.56,1,0.93
498,499,312,103,4,4.0,5.0,8.43,0,0.73
499,500,327,113,4,4.5,4.5,9.04,0,0.84

In [3]:
df.rename(columns={"LOR ":"LOR","Chance of Admit ":"Chance_of_Admit","GRE Score":"GRE_Score",
                  "TOEFL Score":"TOEFL_Score","University Rating":"University_Rating"},inplace=True)
df.drop(columns=["Serial No."],inplace=True)

In [4]:
df

,GRE_Score,TOEFL_Score,University_Rating,SOP,LOR,CGPA,Research,Chance_of_Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
495,332,108,5,4.5,4.0,9.02,1,0.87
496,337,117,5,5.0,5.0,9.87,1,0.96
497,330,120,5,4.5,5.0,9.56,1,0.93
498,312,103,4,4.0,5.0,8.43,0,0.73
499,327,113,4,4.5,4.5,9.04,0,0.84

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GRE_Score          500 non-null    int64
 1   TOEFL_Score        500 non-null    int64
 2   University_Rating  500 non-null    int64
 3   SOP                500 non-null    float64
 4   LOR                500 non-null    float64
 5   CGPA               500 non-null    float64
 6   Research           500 non-null    int64
 7   Chance_of_Admit    500 non-null    float64
dtypes: float64(4), int64(4)
memory usage: 31.4 KB

In [6]:
#Data understanding
df["GRE_Score"].describe()

count    500.000000
mean     316.472000
std       11.295148
min      290.000000
25%      308.000000
50%      317.000000
75%      325.000000
max      340.000000
Name: GRE_Score, dtype: float64

In [7]:
df["TOEFL_Score"].describe()

count    500.000000
mean     107.192000
std        6.081868
min       92.000000
25%      103.000000
50%      107.000000
75%      112.000000
max      120.000000
Name: TOEFL_Score, dtype: float64

In [8]:
df["University_Rating"].value_counts()

University_Rating
3    162
2    126
4    105
5     73
1     34
Name: count, dtype: int64

In [9]:
df["SOP"].value_counts()

SOP
4.0    89
3.5    88
3.0    80
2.5    64
4.5    63
2.0    43
5.0    42
1.5    25
1.0     6
Name: count, dtype: int64

In [10]:
df["CGPA"].describe()

count    500.000000
mean       8.576440
std        0.604813
min        6.800000
25%        8.127500
50%        8.560000
75%        9.040000
max        9.920000
Name: CGPA, dtype: float64

In [11]:
df["Research"].value_counts()

Research
1    280
0    220
Name: count, dtype: int64

In [12]:
df["LOR"].value_counts()

LOR
3.0    99
4.0    94
3.5    86
4.5    63
2.5    50
5.0    50
2.0    46
1.5    11
1.0     1
Name: count, dtype: int64

In [13]:
df["Chance_of_Admit"].describe()

count    500.00000
mean       0.72174
std        0.14114
min        0.34000
25%        0.63000
50%        0.72000
75%        0.82000
max        0.97000
Name: Chance_of_Admit, dtype: float64

In [14]:
df.head()

,GRE_Score,TOEFL_Score,University_Rating,SOP,LOR,CGPA,Research,Chance_of_Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [15]:
# Data preprocessing
# EDA
continuous=["GRE_Score","TOEFL_Score","CGPA","Chance_of_Admit","SOP","LOR"]
d_categorical=["Research"]
d_count=["University_Rating"]

In [16]:
df[continuous].describe()

,GRE_Score,TOEFL_Score,CGPA,Chance_of_Admit,SOP,LOR
count,500.000000,500.000000,500.000000,500.00000,500.000000,500.00000
mean,316.472000,107.192000,8.576440,0.72174,3.374000,3.48400
std,11.295148,6.081868,0.604813,0.14114,0.991004,0.92545
min,290.000000,92.000000,6.800000,0.34000,1.000000,1.00000
25%,308.000000,103.000000,8.127500,0.63000,2.500000,3.00000
50%,317.000000,107.000000,8.560000,0.72000,3.500000,3.50000
75%,325.000000,112.000000,9.040000,0.82000,4.000000,4.00000
max,340.000000,120.000000,9.920000,0.97000,5.000000,5.00000

In [17]:
df.corr()

,GRE_Score,TOEFL_Score,University_Rating,SOP,LOR,CGPA,Research,Chance_of_Admit
GRE_Score,1.000000,0.827200,0.635376,0.613498,0.524679,0.825878,0.563398,0.810351
TOEFL_Score,0.827200,1.000000,0.649799,0.644410,0.541563,0.810574,0.467012,0.792228
University_Rating,0.635376,0.649799,1.000000,0.728024,0.608651,0.705254,0.427047,0.690132
SOP,0.613498,0.644410,0.728024,1.000000,0.663707,0.712154,0.408116,0.684137
LOR,0.524679,0.541563,0.608651,0.663707,1.000000,0.637469,0.372526,0.645365
CGPA,0.825878,0.810574,0.705254,0.712154,0.637469,1.000000,0.501311,0.882413
Research,0.563398,0.467012,0.427047,0.408116,0.372526,0.501311,1.000000,0.545871
Chance_of_Admit,0.810351,0.792228,0.690132,0.684137,0.645365,0.882413,0.545871,1.000000

In [18]:
## data preprocessng
## data cleaning

In [19]:
df.isnull().sum()

GRE_Score            0
TOEFL_Score          0
University_Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance_of_Admit      0
dtype: int64

In [20]:
Q1=df["TOEFL_Score"].quantile(0.25)
Q3=df["TOEFL_Score"].quantile(0.75)

IQR=Q3-Q1

ll=Q1-(IQR*1.5)
ul=Q3+(IQR*1.5)

df[(df["TOEFL_Score"]<ll) & (df["TOEFL_Score"]>ul)]

Empty DataFrame
Columns: [GRE_Score, TOEFL_Score, University_Rating, SOP, LOR, CGPA, Research, Chance_of_Admit]
Index: []

## X and y

In [21]:
X=df.drop(columns=["Chance_of_Admit"])
y=df["Chance_of_Admit"]

In [22]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.8,random_state=True)

In [23]:
from sklearn.linear_model import Ridge
ridge=Ridge()

from sklearn.model_selection import GridSearchCV
param_grid={"alpha":list(range(1,100))}

modelhp=GridSearchCV(ridge,param_grid,cv=5,scoring="r2")
modelhp.fit(X_train,y_train)
modelhp.best_params_

{'alpha': 3}

## modelling and evaluation

In [24]:
from sklearn.linear_model import Ridge
best_ridge=Ridge(alpha=3)
best_ridge.fit(X_train,y_train)

print("coefficient:",best_ridge.coef_)
print("intercept:",best_ridge.intercept_)

ypred_train=best_ridge.predict(X_train)
ypred_test=best_ridge.predict(X_test)

print("Train R2:", best_ridge.score(X_train,y_train))
print("Test R2:", best_ridge.score(X_test,y_test))

from sklearn.model_selection import cross_val_score
print("cv:",(cross_val_score(best_ridge,X,y,cv=5).mean()))

coefficient: [0.00206599 0.00341782 0.00665502 0.00400159 0.01503362 0.10659933
 0.01927776]
intercept: -1.3089283134375942
Train R2: 0.8211086736135638
Test R2: 0.8192919361652362
cv: 0.8094701251878649

## Prediction on new data

In [25]:
new_data=pd.DataFrame({"GRE_Score":[329],"TOEFL_Score":[84],"University_Rating":[3.5],
                       "SOP":[4.0],"LOR":[3.5],"CGPA":[8.88],"Research":[1]})
new_data

   GRE_Score  TOEFL_Score  University_Rating  SOP  LOR  CGPA  Research
0        329           84                3.5  4.0  3.5  8.88         1

In [26]:
# save a model
from joblib import dump
dump(best_ridge,"admission_prediction")

['admission_prediction']

In [27]:
# load model and predict
from joblib import load

loaded_model=load("admission_prediction")

loaded_model.predict(new_data)

array([0.71567446])